body{
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    color: #7B7B7B;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
list-style: none;
color: #7B7B7B;
margin: 0;
padding: 0;
font-size: 16px;
font-weight: 100;
line-height: 20px;

}

li::first-letter{
    text-transform: capitalize;
}

.weather-app-wrapper{
max-width: 600px;
margin: 30px auto;
}

.weather-app{
padding: 20px;
border: 1px solid #7B7B7B;
border-radius: 5px;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
color: #7B7B7B;
font-size: 64px;
font-weight: 400;
line-height: 1;
}

.weather-temperature .units{
position: relative;
font-size: 16px;
top: -34px;
color: #7B7B7B;
}

.weather-temperature .active{
    color: #7B7B7B;
    cursor: default;
}

.weather-temperature .active:hover{
    text-decoration: none;
}