body{
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    color: #52565a;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
list-style: none;
color: #52565a;
margin: 0;
padding: 0;
font-size: 16px;
font-weight: 100;
line-height: 20px;

}

li::first-letter{
    text-transform: capitalize;
}

.weather-app-wrapper{
max-width: 600px;
margin: 30px auto;
}

.weather-app{
padding: 20px 20px 30px 20px;
border: 1px solid #878787;
border-radius: 10px;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
color: #52565a;
font-size: 64px;
font-weight: 400;
line-height: 1;
}

.weather-temperature .units{
position: relative;
font-size: 16px;
top: -34px;
color: #52565a;
}

.weather-temperature .active{
    color: #52565a;
    cursor: default;
}

.weather-temperature .active:hover{
    text-decoration: none;
}


/*forecast*/


.weather-forecast {
  margin-top: 20px;
}

.weather-forecast h3 {
  color: #52565a;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #52565a;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}